.PostBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.PostBox > form {
  display: flex;
  flex-direction: column;
}

.PostBox__input {
  padding: 20px;
  display: flex;
}

.PostBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.PostBox__imageInput {
  border: none;
  padding: 10px;
}

.PostBox__PostButton {
  background-color: purple !important;
  border: none !important;
  color: white !important;
  font-weight: 750 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;

  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(
    to right,
    #aa076b 0%,
    #61045f 51%,
    #aa076b 100%
  );
}
.PostBox__PostButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
